name: Generate 3D Contribution Graph

on:
  workflow_dispatch:

jobs:
  generate-svg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: true

      - name: Generate 3D graph SVG
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Show git status before commit
        run: git status

      - name: Add SVG file
        run: git add profile-green-dual.svg

      - name: Show git status after adding SVG
        run: git status

      - name: Commit changes if any
        run: |
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git config user.name "github-actions"
            git config user.email "github-actions@github.com"
            git commit -m "Generate 3D contribution graph"
          fi

      - name: Push changes
        run: |
          echo "Pushing changes..."
          git push origin main
